

html {
    scroll-behavior: smooth;
}

body {
  background-color: #000;
}

.row {
margin: 0;

}
.rj-main {
    height: 100vh;
  background:#282c34 url("../img/emxheroimage2.jpg") no-repeat fixed -80px -120px;
  background-size: cover;
  }

.rj-about {
height: 100vh;
background:#304051;
}
.rj-containerwrap {
    min-height: 70vh;
}

.rj-carousel-container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.rj-carousel {
min-width: 80vw !important;
min-height: 70vh !important;
max-width: 90vw !important;
max-height: 80vh !important;
}



.rj-music {
height: 100vh;
background:#657586;
}
.rj-footer {
    height: 100vh;
    background: #929eac;
}
